@import url('https://fonts.googleapis.com/css2? family= Raleway & display=swap');

body, html {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

/* HEADER */
.container-fluid {
    padding: 0;
}

/* BANNIERE */
.banner, .ban img {
    width: 100%;
    max-width: 100%;
}

.ban {
    width: 100%;
    max-width: 100%;
    position: relative; 
}

.inner-banner {
    position: absolute;
    top: 10%;
    width: 100%;
    text-align: center;
}

.inner-banner h1 {
    color: rgb(255, 85, 0);
    text-shadow: 1px, 1px, 20px, rgb(255, 85, 0);
    font-size: 50px;
}

.inner-banner .btn-custom {
    background-color: #3498DB;
    color: white;
}

.inner-banner .btn-custom:hover {
    background-color: rgb(255, 85, 0);
}

/* A PROPOS */
#about {
    text-align: center;
    padding-top: 5%;
    color: #3498DB;
}

.about article {
    margin-top: 10%;
    margin-bottom: auto;
    
}

.about article h2, p {
    text-align: center;
}

/* TEAM */
.categorie {
    background-color: #eeeeee;
    text-align: center;
}

#team {
    text-align: center;
    color: #3498DB;
}

.categorie .team {
    height: 300px;  
}

.imgT {
    height: 190px;
    width: 190px;
}

/* FORMULAIRE */
#contact {
    color: #ffffff;
    text-align: center; 
}

/* GALERIE PHOTO */
.img2 {
    height: 800px;
}


