@import url("https://fonts.googleapis.com/css2? family= Raleway & display=swap");

body,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Raleway", sans-serif;
}

/* HEADER */
.container-fluid {
  padding: 0;
}

/* BANNIERE */
 .banner,
.ban img {
  width: 100%;
  max-width: 100%;
}

.ban {
  width: 100%;
  max-width: 100%;
  position: relative;
}

.inner-banner {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center;
}

.inner-banner h1 {
  color: rgb(255, 85, 0);
  text-shadow: 1px, 1px, 20px, rgb(255, 85, 0);
  font-size: 50px;
}

.inner-banner .btn-custom {
  background-color: #3498db;
  color: white;
}

.inner-banner .btn-custom:hover {
  background-color: rgb(255, 85, 0);
} */

/* A PROPOS */
#about {
  text-align: center;
  padding-top: 5%;
  color: #3498db;
}

.about article {
  margin-top: 10%;
  margin-bottom: auto;
}

.about article h2,
p {
  text-align: center;
}

/* TEAM */
.categorie {
  background-color: #eeeeee;
  text-align: center;
}

#team {
  text-align: center;
  color: #3498db;
}

.categorie .team {
  height: 300px;
}

.imgT {
  height: 190px;
  width: 190px;
}

/* CARD */
#card {
  justify-content: space-around;
  padding: 5px;
}

/* FORMULAIRE */
.contact form {
  max-width: 50rem;
  margin:1rem auto;
  text-align: center;
}

.contact form .inputBox {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .inputBox input,
.contact form textarea {
  width: 100%;
  background:#333;
  border-radius: .5rem;
  padding:1rem;
  margin:.7rem 0;
  font-size: 1.5rem;
  color:#fff;
  text-transform: none;
}

.contact form .inputBox input::placeholder,
.contact form textarea::placeholder {
  color:#eee;
  text-transform: capitalize;
}

.contact form .inputBox input:focus,
.contact form textarea:focus {
  background:#444;
}

.contact form .inputBox input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.btn {
  background: #333;
  color: #fff;
}

/* GALERIE PHOTO */
.img2 {
  height: auto;
}
